body {
    	background-color: #4278ce;
    	color: #fff;
    	font-family: 'Bree Serif', serif;
        background-image: url("img/glogia.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    	}
